{"ap-northeast-1" "ami-0417e362", "eu-west-1" "ami-674cbc1e", "us-east-2" "ami-dbbd9dbe", "ap-southeast-2" "ami-bb1901d8", "sa-east-1" "ami-a41869c8", "ap-southeast-1" "ami-9f28b3fc", "ap-northeast-2" "ami-536ab33d", "ca-central-1" "ami-a9c27ccd", "eu-central-1" "ami-958128fa", "eu-west-2" "ami-03998867", "us-west-2" "ami-8803e0f0", "us-east-1" "ami-1d4e7a66", "us-west-1" "ami-969ab1f6", "ap-south-1" "ami-df413bb0"}